@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Luckiest+Guy&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #92c333;
  color: #140a41;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: #b1d210;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #b1d210;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}
.header-title {
  width: 175px;
  height: 26px;
}
.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: #b1d210;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Afacad;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #140a41;
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 26px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    width: 279px;
    height: 40px;
    margin-right: 160px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 1px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    padding: 0px 11px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 689px;
  padding: 108px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40039.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 0 30px;
}

.home-text {
  font-family: Afacad;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;

  padding: 86px 0 56px;
  width: 311px;
}
.home__google-button_image {
  width: 228px;
  height: 56px;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 946px;
    padding: 165px 0px 0px;
    background-image: url("/img/home/Frame\ 40040.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .home-text {
    font-family: Afacad;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    width: 824px;
    padding: 140px 0 167px;
  }
}
.why {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}
.why-img {
  margin: 48px 0 16px;
}
.why-text-one {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.why-text-two {
  font-family: Afacad;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 8px 0 16px;
}

.why-list {
  padding: 16px 0 24px;
}
.why-lists {
  display: none;
}
.why-item {
  width: 253px;
  height: 144px;
  border-radius: 24px;
  padding: 16px;
  background: #eec256;
  box-shadow: 4px 4px 20px 0px #83b52b80;
  margin: 0 8px;
  transition: all 0.3s ease-in-out;
}
.why-item:hover {
  background: #f0cb70;
}
.why-text-bold {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  height: 54px;
}
.why-text {
  padding-top: 4px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    padding: 120px 71px 70px;
  }
  .why-div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 134px;
    padding-top: 56px;
  }
  .why-img {
    margin: 0px;
    content: url("/img/pics.png");
  }
  .why-text-one {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .why-text-two {
    font-family: Afacad;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding: 18px 0 0px;
  }
  .why-img-two {
    display: none;
  }
  .why-list {
    display: none;
  }
  .why-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
    gap: 24px;
  }
  .why-item {
    width: 306px;
    height: 244px;

    border-radius: 24px;
    padding: 16px;

    margin: 0;
  }

  .why-text-bold {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    height: 72px;
  }
  .why-text {
    padding-top: 16px;
    font-family: Afacad;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
.about {
  padding: 60px 16px 0px;
  margin: auto;
  width: 375px;
  height: 505px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40041.png");
}

.about-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.about-text {
  font-family: Afacad;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  padding: 133px 16px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    margin-top: 120px;
    padding: 0px 316px 0;
    width: 1440px;
    height: 960px;
    background-image: url("/img//Game\ Description\ section.png");
  }
  .about-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 48px;
    leading-trim: Cap height;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .about-text {
    font-family: Afacad;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    padding: 360px 0px 0;
  }
}
.characters {
  padding: 80px 16px 0;
  margin: auto;
  width: 375px;
}

.characters-list {
  padding: 48px 0 24px;
}
.characters-lists {
  display: none;
}
.characters-item {
  width: 253px;
  height: 117px;
  border-radius: 24px;
  padding: 16px;
  background: #c0de13;
  box-shadow: 4px 4px 20px 0px #83b52b80;
  margin: 0 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.characters-item:hover {
  background: #d5ee47;
  border: 1px solid #2c6800;
  box-shadow: 4px 4px 20px 0px #326c0080;
}
.characters-text-bold {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.characters-text {
  font-family: Afacad;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;

  padding-top: 4px;
}
.characters-img {
  width: 148px;
  height: 148px;
  margin-top: -50px;
}
@media screen and (min-width: 1200px) {
  .characters {
    padding: 120px 71px 0px;
    width: 1440px;
  }
  .characters-list {
    display: none;
  }
  .characters-lists {
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  .characters-item {
    width: 416px;
    height: 173px;
    border-radius: 24px;
    padding: 16px;

    margin: 0px;
  }
  .characters-text-bold {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .characters-text {
    font-family: Afacad;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 12px;
  }
  .characters-img {
    width: 381px;
    height: 381px;
    margin-left: -71px;
    margin-top: -190px;
    margin-bottom: -170px;
  }
}
.reviews {
  width: 375px;

  margin: auto;
  padding: 80px 16px 0;
}

.reviews-list {
  padding: 48px 0 24px;
}
.reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 154px;
  border-radius: 24px;
  padding: 24px;
  background: #c8e425;
  box-shadow: 4px 4px 20px 0px #83b52b80;
  transition: all 0.3s ease-in-out;
}
.reviews-item:hover {
  background: #c1de18;
}
.reviews-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews-text-bold {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 18px;
  leading-trim: Cap height;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.reviews-text {
  font-family: Afacad;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 12px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    padding: 120px 71px 0;
  }
  .reviews-list {
    padding: 56px 0 48px;
  }
  .reviews-item {
    margin: 0 12px;
    width: 636px;
    height: 212px;
    border-radius: 24px;
    padding: 20px 24px;
  }
  .reviews-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .reviews-text-bold {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 32px;
    leading-trim: Cap height;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .reviews-text {
    font-family: Afacad;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: px;
  }
}

.faq {
  padding: 80px 16px 0px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  background: #eec256;
  box-shadow: 4px 4px 20px 0px #83b52b80;
  border-radius: 24px;
  padding: 16px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 4px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 120px 71px 0;
    width: 1440px;
  }
  .faq-container {
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-item {
    border-radius: 24px;
    padding: 24px;
  }

  .faq-question {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .faq-answer {
    display: none;
    padding-top: 8px;
    font-family: Afacad;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0px;
}

.gallery__list {
  padding: 48px 0 24px;
}
.gallery__item {
  width: 343px;
  height: 199px;
  border-radius: 24px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 120px 71px 0;
  }

  .gallery__item {
    width: 856px;
    height: 496px;
    border-radius: 24px;

    margin: 0 10px;
  }

  .gallery__list {
    padding: 56px 0 58px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 30px 16px 0;
}

.features-list {
  padding: 28px 0 24px;
}
.features-lists {
  display: none;
}
.features-item {
  margin: 20px 5px 0;
  width: 253px;
  height: 126px;
  border-radius: 24px;
  padding: 16px;
  background: #a6d845;
  box-shadow: 4px 4px 20px 0px #83b52b80;
  transition: all 0.3s ease-in-out;
}
.features-item:hover {
  background: #b4e454;
}
.features-img {
  margin-top: -23px;
  margin-left: -36px;
  margin-bottom: -46px;
}
.features-text-bold {
  height: 44px;
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  height: 54px;
  display: flex;
  align-items: center;
}
.features-text {
  font-family: Afacad;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 4px;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 24px;
  height: 24px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/features/11.png") no-repeat center/cover;

  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/features/1.png") no-repeat center/cover;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 120px 71px 0px;
  }

  .features-list {
    display: none;
  }
  .features-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 56px;
  }
  .features-item {
    margin: 0;
    width: 306px;
    height: 205px;
    border-radius: 24px;
    padding: 16px;
  }

  .features-text-bold {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    height: 72px;
    display: flex;
    align-items: center;
  }
  .features-text {
    font-family: Afacad;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 8px;
  }
  .features-img {
    margin-top: -43px;
    margin-left: -46px;
    margin-bottom: -24px;
  }
  .features-img-two {
    margin-left: 239px;
    margin-top: -60px;
    margin-bottom: -12px;
  }
}
.footer {
  background: #b1d210;

  padding: 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;

  gap: 12px;
}
.footer-text {
  font-family: Afacad;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #140a41;
}

.footer-copyright {
  font-family: Afacad;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 24px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    gap: 16px;
  }

  .footer-text {
    font-family: Afacad;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Afacad;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 116px 16px 40px;
}
.policy-terms-title {
  text-transform: uppercase;
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Afacad;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
.policy-terms-text-one {
  padding-top: 20px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
  font-family: Afacad;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 176px 82px 100px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 20px;
  border-radius: 24px;
  background: #fdc674;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Afacad;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #431907;
}
.cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #f98716;
  width: 143px;

  border-radius: 14px;
  padding: 10px 0;
  font-family: Afacad;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #431907;
}
#accept-cookies {
  border: none;
  background: linear-gradient(180deg, #6ed051 0%, #99e862 100%);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 30px;
    display: none;
  }
  .cookie-button {
    width: 176px;
    height: 51px;
    border-radius: 12px;
    padding-top: 12px;

    padding-bottom: 12px;

    border-radius: 14px;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
  }
}
